# Ethereum RPC URL (e.g., Infura, Alchemy, or your own node)
ETH_RPC_URL=YOUR_ALCHEMY_URL

ALCHEMY_API_KEY=YOUR_ALCHEMY_KEY

# Master account address to receive all funds
MASTER_ADDRESS=0x0000000000000000000000000000000000000000

# Private keys to transfer funds from
PRIVATE_KEYS=xxx,xxx

# Sleep time between transfers
SLEEP_TIME=500

# Network to use
NETWORK=eth-mainnet